{% extends "base.html" %}
{% load static %}

{% block headblock%}
<!--  CSS Files -->
        <link href="{% static './assets/css/material-kit.css?v=2.0.7' %}" rel="stylesheet"/>
<!--         CSS Just for demo purpose, don't include it in your project -->
        <link href="{% static './assets/demo/demo.css' %}" rel="stylesheet"/>
{% endblock %}

{% block content %}

    <body>

        <h2>Create new Ad</h2>

        <div class="container-fluid">

            <form action="/new/" method="Post" enctype="multipart/form-data">

                    {% csrf_token %}
                {{ form.errors }}
                <div class="form-row">
                    <div class="form-group col-2">

                        <label class="col-form-label" for="{{form.name_of_item.id_for_label}}">{{form.name_of_item.label}}</label>
                    </div>
                    <div class="form-group col-8">
                            {{form.name_of_item}}
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-2">

                        <label class="col-form-label" for="{{form.publisher.id_for_label}}">{{form.publisher.label}}</label>
                    </div>
                    <div class="form-group col-8">
                        {{form.publisher}}

                    </div>
                </div>
                    <div class="form-row">
                        <div class="form-group col-2">

                            <label class="col-form-label" for="{{form.date_published.id_for_label}}">{{form.date_published.label}}</label>
                        </div>
                        <div class="form-group col-8">
                            {{form.date_published}}
                        </div>
                    </div>

                    <!--   Core JS Files   -->
                    <script src="{% static 'bootstrap/js/bootstrap.js}" type="text/javascript"></script>
                    <script src="{% static './assets/js/core/jquery.min.js' %}" type="text/javascript"></script>
                    <script src="{% static './assets/js/core/popper.min.js' %}" type="text/javascript"></script>
                    <script src="{% static './assets/js/core/bootstrap-material-design.min.js' %}" type="text/javascript"></script>
                    <script src="{% static './assets/js/plugins/moment.min.js' %}"></script>
                    <!--	Plugin for the Datepicker, full documentation here: https://github.com/Eonasdan/bootstrap-datetimepicker -->
                    <script src="{% static './assets/js/plugins/bootstrap-datetimepicker.js' %}" type="text/javascript"></script>
                    <!--  Plugin for the Sliders, full documentation here: http://refreshless.com/nouislider/ -->
                    <script src="{% static './assets/js/plugins/nouislider.min.js' %}" type="text/javascript"></script>
                    <!--  Google Maps Plugin    -->
                    <!-- Control Center for Material Kit: parallax effects, scripts for the example pages etc -->
                    <script src="{% static './assets/js/material-kit.js?v=2.0.7' %}" type="text/javascript"></script>
                    <script>
                      $(document).ready(function() {
                        //init DateTimePickers
                        materialKit.initFormExtendedDatetimepickers();

                        // Sliders Init
                        materialKit.initSliders();
                      });


                      function scrollToDownload() {
                        if ($('.section-download').length != 0) {
                          $("html, body").animate({
                            scrollTop: $('.section-download').offset().top
                          }, 1000);
                        }
                      }
                    </script>

                <div class="form-row">
                    <div class="form-group col-2">

                        <label class="col-form-label" for="{{form.description_of_item.id_for_label}}">{{form.description_of_item.label}}</label>
                    </div>
                    <div class="form-group col-8">
                        {{form.description_of_item}}

    <!--                    <input id="{{form.description_of_item.id_for_label}}" class="form-control" name="{{form.description_of_item.name}}" maxlength="20"  type="{{form.description_of_item.field.widget.input_type}}">-->
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-2">

                        <label class="col-form-label" for="{{form.price.id_for_label}}">{{form.price.label}}</label>
                    </div>
                    <div class="form-group col-8">
                        {{form.price}}

    <!--                    <input id="{{form.price.id_for_label}}" class="form-control" name="{{form.price.name}}" maxlength="20"  type="{{form.price.field.widget.input_type}}">-->
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-2">

                        <label class="col-form-label" for="{{form.category_of_item.id_for_label}}">{{form.category_of_item.label}}</label>
                    </div>
                    <div class="form-group col-8">
                        {{form.category_of_item}}

    <!--                    <select class="form-control" id="{{form.category_of_item.id_for_label}}" name="{{form.category_of_item.name}}" type="{{form.category_of_item.field.widget.select_type}}">-->
    <!--                            {%  for choice in form.category_of_item.field.choices %}-->
    <!--                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>-->
    <!--                            {% endfor %}-->
    <!--                    </select>-->
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-2">

                        <label class="col-form-label" for="{{form.location.id_for_label}}">{{form.location.label}}</label>
                    </div>
                    <div class="form-group col-8">
                        {{form.location}}

    <!--                    <select class="form-control" id="{{form.location.id_for_label}}" name="{{form.location.name}}" type="{{form.location.field.widget.select_type}}">-->
    <!--                            {%  for choice in form.location.field.choices %}-->
    <!--                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>-->
    <!--                            {% endfor %}-->
    <!--                    </select>-->
                    </div>

                </div>

                <div class="form-row">
                    <div class="form-group col-2">

                        <label class="col-form-label" for="{{form.brand_name_of_item.id_for_label}}">{{form.brand_name_of_item.label}}</label>
                    </div>
                    <div class="form-group col-8">
                        {{form.brand_name_of_item}}

    <!--                    <select class="form-control" id="{{form.brand_name_of_item.id_for_label}}" name="{{form.brand_name_of_item.name}}" type="{{form.brand_name_of_item.field.widget.select_type}}">-->
    <!--                            {%  for choice in form.brand_name_of_item.field.choices %}-->
    <!--                                <option value="{{ choice.0 }}">{{ choice.1 }}</option>-->
    <!--                            {% endfor %}-->
    <!--                    </select>-->
                    </div>

                </div>

                <div class="form-row ">
                    <div class="form-group col-2">

                        <label class="col-form-label" for="{{form.contact.id_for_label}}">{{form.contact.label}}</label>
                    </div>
                    <div class="form-group col-8">
                        {{form.contact}}

                    </div>
                </div>

                <div class="form-row custom-file">
                    <div class="form-group col-2">


                             <label class="col-form-label" for="{{form.item_image.id_for_label}}">{{form.item_image.label}}</label>
                    </div>

                    <div class="form-check">
                        <div class="col-8">
                            {{form.item_image}}
                        </div>
                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-2">


                             <label class="col-form-label" for="{{form.available.id_for_label}}">{{form.available.label}}</label>
                    </div>

                        <div class="form-check">
                            <div class="col-8">
                                {{form.available}}
                            </div>
                        </div>
                </div>



                <div class="form-row">
                    <div class="form-group col-2">

                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>
        </div>

{% endblock %}