{% extends "base.html" %}


{% load static %}



{% block headblock%}



{% endblock %}


{% block content %}

        <h2>Create new Ad</h2>

            <form action="/new/" method="Post" enctype="multipart/form-data" class="needs-validation" novalidate>

                {% if form.errors %}
                    <div class="alert alert-danger">
                        {% for field in form %}
                            {% if field.errors %}
                            <li>{{ field.label }}: {{ field.errors|striptags }}</li>
                            {% endif %}
                        {% endfor %}
                    </div>
                {% endif %}

                {% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-2">

                        <label class="col-form-label" for="{{form.name_of_item.id_for_label}}">{{form.name_of_item.label}}</label>
                    </div>
                    <div class="form-group col-6">
                        {% if form.name_of_item.errors %}
                       <input class="form-control is-invalid" id="id_name_of_item" name="name_of_item" type="text">
                        <div class="invalid-feedback">
                                <ul>
                                    {% for error in form.name_of_item.errors %}
                                        <li><strong>Please enter a valid name</strong></li>
                                    {% endfor %}
                                </ul>
                            </div>
                        {% else %}
                            {{form.name_of_item}}
<!--                            <div class="valid-tooltip">-->
<!--                              This valid-->
<!--                            </div>-->
                        {% endif %}

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-2">

                        <label class="col-form-label" for="{{form.publisher.id_for_label}}">{{form.publisher.label}}</label>
                    </div>
                    <div class="form-group col-6">
                            {% if form.publisher.errors %}
                                <input class="form-control is-invalid" id="publisher" name="publisher" type="text">
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.publisher.errors %}
                                        <li><strong>Please enter a valid publisher</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                {{form.publisher}}

                                {% endif %}

                    </div>
                </div>

                <div class="form-row">
                    <div class="form-group col-2">

                        <label class="col-form-label" for="{{form.date_published.id_for_label}}">{{form.date_published.label}}</label>
                    </div>

                    <div class="form-group col-6">
                        <div class="input-group date" id="datetimepicker1" data-target-input="nearest">
                            {% if form.date_published.errors %}
                                    <input class="form-control is-invalid" data-target="#datetimepicker1" id="id_date_published" name="date_published" type="text">
                                    <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                        <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                    </div>
                                    <div class="invalid-feedback">
                                        <ul>
                                            {% for error in form.date_published.errors %}
                                            <li><strong>Please enter a valid date</strong></li>
                                            {% endfor %}
                                        </ul>
                                    </div>
                            {% else %}
                                {{form.date_published}}
                                <div class="input-group-append" data-target="#datetimepicker1" data-toggle="datetimepicker">
                                    <div class="input-group-text"><i class="fa fa-calendar"></i></div>
                                </div>

                            {% endif %}

                        </div>

                         <script src="{% static 'js/tempusdominus-bootstrap-4.min.js' %}"></script>
                        <script type="text/javascript" src="{% static 'js/jquery.min.js' %}"></script>
                        <script>
                          $(function () {
                            $("#datetimepicker1").datetimepicker({
                              format: 'YYYY/MM/DD HH:mm',
                            });
                          });
                        </script>
                    </div>
                </div>

                <div class="form-row">
                        <div class="form-group col-2">

                            <label class="col-form-label" for="{{form.description_of_item.id_for_label}}">{{form.description_of_item.label}}</label>
                        </div>
                        <div class="form-group col-6">
                            {% if form.description_of_item.errors %}
                                <input class="form-control is-invalid" id="description_of_item" name="description_of_item" type="text">
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.description_of_item.errors %}
                                        <li><strong>Please enter a valid description</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                {{form.description_of_item}}

                                {% endif %}

                    </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-2">

                            <label class="col-form-label" for="{{form.price.id_for_label}}">{{form.price.label}}</label>
                        </div>
                        <div class="form-group col-6">
                            {% if form.price.errors %}
                                <input class="form-control is-invalid" id="pricer" name="price" type="text">
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.price.errors %}
                                        <li><strong>Please enter a valid price</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                {{form.price}}

                                {% endif %}

                    </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-2">

                            <label class="col-form-label" for="{{form.category_of_item.id_for_label}}">{{form.category_of_item.label}}</label>
                        </div>
                        <div class="form-group col-6">
                            {% if form.category_of_item.errors %}
                                <input class="form-control is-invalid" id="category_of_item" name="category_of_item" type="text">
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.category_of_item.errors %}
                                        <li><strong>Please enter a valid category</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                {{form.category_of_item}}

                                {% endif %}
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-2">

                            <label class="col-form-label" for="{{form.location.id_for_label}}">{{form.location.label}}</label>
                        </div>
                        <div class="form-group col-6">
                            {% if form.location.errors %}
                                <input class="form-control is-invalid" id="location" name="location" type="text">
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.location.errors %}
                                        <li><strong>Please enter a valid location</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                {{form.location}}

                                {% endif %}
                        </div>

                    </div>

                    <div class="form-row">
                        <div class="form-group col-2">

                            <label class="col-form-label" for="{{form.brand_name_of_item.id_for_label}}">{{form.brand_name_of_item.label}}</label>
                        </div>
                        <div class="form-group col-6">
                            {% if form.brand_name_of_item.errors %}
                                <input class="form-control is-invalid" id="brand_name_of_item" name="brand_name_of_item" type="text">
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.brand_name_of_item.errors %}
                                        <li><strong>Please enter a valid brand name</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                {{form.brand_name_of_item}}

                                {% endif %}
                        </div>

                    </div>

                    <div class="form-row ">
                        <div class="form-group col-2">

                            <label class="col-form-label" for="{{form.contact.id_for_label}}">{{form.contact.label}}</label>
                        </div>
                        <div class="form-group col-6">
                            {% if form.contact.errors %}
                                <input class="form-control is-invalid" id="contact" name="contact" type="text">
                                <div class="invalid-feedback">
                                    <ul>
                                        {% for error in form.contact.errors %}
                                        <li><strong>Please enter a valid contact</strong></li>
                                        {% endfor %}
                                    </ul>
                                </div>
                            {% else %}
                                {{form.contact}}

                                {% endif %}
                        </div>
                    </div>

                    <div class="form-row custom-file">
                        <div class="form-group col-2">

                                 <label class="col-form-label" for="{{form.item_image.id_for_label}}">{{form.item_image.label}}</label>
                        </div>

                        <div class="form-check">
                            <div class="col-6">
                                {{form.item_image}}
                            </div>
                        </div>
                    </div>

                    <div class="form-row">
                        <div class="form-group col-2">
                                 <label class="col-form-label" for="{{form.available.id_for_label}}">{{form.available.label}}</label>
                        </div>

                        <div class="form-check">
                            <div class="col-6">
                                {{form.available}}
                            </div>
                        </div>
                    </div>

                <div class="form-row">
                    <div class="form-group col-2">

                        <input type="submit" class="btn btn-primary" value="Submit">
                    </div>
                </div>
            </form>

        </div>
{% endblock %}