{% extends "base.html" %}
{% load static %}

{% block headblock%}

    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{% static 'custom/css/cards.css' %}" rel="stylesheet">

<!--  <link rel="stylesheet" href="{% static 'custom/css/ads.css' %}" rel="stylesheet">-->
{% endblock %}

{% block content %}

{% if items   %}

    <div class="wrapper">

        {% for row in items %}

        <div class="row" id="ads">
            {% for item in row%}

                <div class="col-md-8">
                    <div class="card b-1 hover-shadow mb-20">
                        <div class="media card-body">
                            <div class="media-left pr-12">
                                <img class="avatar avatar-xl no-radius" src="{{item.item_image.url}}" alt="...">
                            </div>
                            <div class="media-body">
                                <div class="mb-2">
                                    <span class="fs-20 pr-16">{{item.name_of_item}}</span>
                                </div>
                                <small class="fs-16 fw-300 ls-1">{{item.publisher}}</small>
                            </div>
                            <div class="media-right text-right d-none d-md-block">
                                <p class="fs-14 text-fade mb-12"><i class="fa fa-map-marker pr-1">{{item.location}}</i></p>
                                <span class="text-fade"><i class="fa fa-money pr-1"></i> &#8373;{{item.price}}</span>
                            </div>
                        </div>
                        <footer class="card-footer flexbox align-items-center">
                            <div>
                                <strong>Posted on:</strong>
                                <span>{{item.date_published|date:"SHORT_DATE_FORMAT"}}</span>
                            </div>
                            <div class="card-hover-show">
                                <a class="btn btn-xs fs-10 btn-bold btn-info" href="/item_detail/{{item.id}}">View</a>
                                <a class="btn btn-xs fs-10 btn-bold btn-primary" href="#" data-toggle="modal" data-target="#modal-contact">Contact</a>
                                <a class="btn btn-xs fs-10 btn-bold btn-warning" href="#">Delete</a>
                            </div>
                        </footer>
                    </div>
                </div>

            {% endfor %}

        </div>
        {% endfor %}
    </div>



{% else %}
    <p>There are no ads</p>
{% endif %}

{% endblock %}

