{% extends "base.html" %}
{% load static %}
{% block content %}

{% if items   %}

    <div class="container">

        {% for row in items %}
            <div class="row">
                {% for item in row%}

                    <div class="col-4">

                        <div class="card-deck"style="text-align: center">
                            <div class="card">
                                <img src="{{item.item_image.url}}" class="card-img-top" alt="ad_item_image" width="120" height="250">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.name_of_item }}</h5>
                                    <p class="card-title">{{ item.price}}</p>
                                    <p class="card-title">{{ item.location}}</p>
                                    <p class="card-title">{{ item.publisher}}</p>
                                    <a href="/item_detail/{{item.id}}/" class="btn btn-outline-primary">Click to view item</a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">{{ item.date_published }}</small>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div><br/>
        {% endfor %}
    </div>



{% else %}
    <p>There are no ads</p>
{% endif %}
<div>
    <br>
    <a href="/create/" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Click here to create an ad</a>
    <br>
    <br>
    <a href="/approve/" class="btn btn-info btn-sm active" role="button" aria-pressed="true">Click here to see ads that needs approval</a>
</div>

{% endblock %}