{% extends "base.html" %}
{% load static %}
{% block content %}

{% if items   %}

    <div class="container">

<!--        <nav>-->
<!--            <a href="#" class="hide-desktop">-->
<!--                <img src="{% static 'custom/images/menu.svg' %}" width="20" height="20" alt="toggle menu" class="menu" id="menu">-->
<!--            </a>-->
<!--            <ul class="show-desktop hide-mobile" id="nav">-->
<!--                <li id="exit" class="exit-btn hide-desktop"><img src="{% static 'custom/images/exit-menu.svg' %}" width="20" height="20" alt="exit menu"></li>-->
<!--                <li><a href="/yo/">Home</a></li>-->
<!--                <li><a href="#">About Us</a></li>-->
<!--                <li><a href="#">Categories</a></li>-->
<!--                <li><a href="#">Services</a></li>-->
<!--                <li><a href="#">Contact Us</a></li>-->
<!--                <li><a href="#">Location</a></li>-->
<!--            </ul>-->
<!--        </nav>-->

        {% for row in items %}
            <div class="row">
                {% for item in row%}

                    <div class="col-4">

                        <div class="card-deck"style="text-align: center">
                            <div class="card">
                                <img src="{{item.item_image.url}}" class="card-img-top" alt="ad_item_image" width="120" height="250">
                                <div class="card-body">
                                    <h5 class="card-title">{{ item.name_of_item }}</h5>
                                    <p class="card-title">{{ item.price}}</p>
                                    <p class="card-title">{{ item.location}}</p>
                                    <p class="card-title">{{ item.publisher}}</p>
                                    <a href="/pending_item_detail/{{item.id}}/" class="btn btn-outline-primary">Click to view item</a>
                                </div>
                                <div class="card-footer">
                                    <small class="text-muted">{{ item.date_published }}</small>
                                </div>
                            </div>
                        </div>

                    </div>
                {% endfor %}
            </div><br/>
        {% endfor %}
    </div>



{% else %}
    <p>There are no pending ads</p>
{% endif %}

{% endblock %}